ul{
  width: 100px;
}
li{
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc;
  margin: -1px 0 0 0;
  list-style: none;
}
.current{
  background-color: #FF7F24;
  color:#fff;
}
.export-btn{
  cursor: pointer;
  border: 1px solid transparent;
  padding: 10px 16px;
  border-radius: 4px;
  background: #47cf73;
  font-size: 1rem;
  line-height: 1.2;
}
